:root {
    --color-pink: rgb(230, 42, 198);
    --color-pink-opaque: rgb(230, 42, 198, 0.6);
    --color-bg: rgb(15, 0, 32);
    --color-bg-footer: rgb(8, 0, 7);
    --color-text: rgb(241, 241, 241);
    --color-anchor: rgb(231, 44, 75);
    --color-project-bg: rgb(19, 19, 19, 0.4);
    --color-project-bg-hover: rgb(19, 19, 19, 0.8);
}

html {
    font-family: "Roboto","Arial",sans-serif;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    margin: 0;
}

h1, h2 {
    font-size: 2.4rem;
    --color: var(--color-pink);
    text-shadow: 0 2px 1px var(--color-pink);
    transition: all 0.3s;
}

h1:hover {
    text-shadow: 0px 5px 10px var(--color-pink);
}

h2 {
    font-size: 1.5rem;
    text-shadow: 0 1px 1px var(--color-pink);
}

p, ul li {
    font-size: 1rem;
    line-height: 1.4rem;
    text-shadow: 0 1px 0px var(--color-pink-opaque);
}

a {
    color: var(--color-anchor);
    transition: color 0.15s;
    text-decoration: none;
    text-shadow: none;
}

a:hover {
    color: var(--color-pink);
}

a.title {
    color: white;
}

.w960 {
    max-width: 960px;
}

main {
    padding: 24px;
    background-image: url(img/ernest-marcinko-pixelated-opaque.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40px;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 5rem;
} 

section.intro {
    text-align: center;
    margin: 10rem auto;
}

.socials a svg path {
    fill: white;
    transition: fill 0.2s;
}

.socials a:hover svg path {
    fill: var(--color-pink);
}

.socials {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

.projects .project {
    min-width: 240px;
    max-width: 320px;
    width: 100%;
    padding: 8px 24px;
    box-shadow: 0 0 2px 1px var(--color-pink);
    border-radius: 4px;
    background: var(--color-project-bg);
    transition: all 0.3s;
}

.projects .project:hover,
.projects .project.active {
    box-shadow: 0 0 20px 4px var(--color-pink);
    background: var(--color-project-bg-hover);
}

.projects .project .title {
    display: flex;   
    align-items: center;
    gap: 1rem;
}

.projects .project img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

footer {
    background: var(--color-bg-footer);
    margin: none;
    overflow: auto;
    padding: 24px;
}

.footer-container {
    margin: 0 auto;
}

footer .row {
    max-width: 480px;
}

footer .row li a {
    line-height: 2rem;
}

@media only screen and (max-width: 480px) {
    main {
        background-position-x: center;
        background-position-y: 40px;
    }
    .footer-container {
        justify-content: left;
    }
}