<footer>
    <div class="footer-container w960 flexy">
        <div class="row">
            <h2>Who am I?</h2>
            <p>Just an ordinary developer.</p>
            <p>Most of the time I work on my products, sometimes I create educational style YouTube videos for fun.</p>
            <p>This site was built with <strong>node.js</strong>,
                the complete source is available in the 
                <a target="_blank" href="https://github.com/anag0/ernestmarcinko.com" title="Github for site source" aria-label="Github">github repository</a>.</p>
        </div>
        <div class="row">
            <h2>My socials</h2>
            <ul class="socials-list">
                <li><a target="_blank" href="https://www.youtube.com/@ernestmarcinko/" title="Ernest Marcinko's Youtube Channel" aria-label="Youtube">YouTube</a></li>
                <li><a target="_blank" href="https://twitter.com/ernest_marcinko" title="Ernest Marcinko's Twitter" aria-label="Twitter">Twitter</a></li>
                <li><a target="_blank" href="https://github.com/anag0" title="Github" aria-label="Ernest Marcinko's Github">Github</a></li>
                <li><a target="_blank" href="https://instagram.com/ernestmarcinko" title="Instagram" aria-label="Ernest Marcinko's Instagram">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>