<footer>
    <div class="footer-container w960 flexy">
        <div class="row">
            <h2>Who am I?</h2>
            <p>Just an ordinary developer.</p>
            <p>Most of the time I work on my products, sometimes I create educational style YouTube videos for fun.</p>
        </div>
        <div class="row">
            <h2>My socials</h2>
            <ul>
                <li><a target="_blank" href="https://www.youtube.com/@ernestmarcinko/" title="Youtube" aria-label="Youtube">YouTube</a></li>
                <li><a target="_blank" href="https://twitter.com/ernest_marcinko" title="Twitter" aria-label="Twitter">Twitter</a></li>
                <li><a target="_blank" href="https://github.com/anag0" title="Github" aria-label="Github">Github</a></li>
                <li><a target="_blank" href="https://instagram.com/ernestmarcinko" title="Instagram" aria-label="Instagram">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="/dist/site.js" async></script>