<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/dist/style.css">
<link rel="icon" type="image/png" href="/img/favicon.png" />
<title><%= att.title %></title>
<meta property="og:title" content="<%= att.title %>" />
<meta property="og:description" content="Typewriter effect written in javascript. Easy to use, very fast, very small." />
<meta content="Typewriter effect written in javascript. Easy to use, very fast, very small." name="description"/>

<!-- Google Tag Manager -->
<script>
if (
    navigator.userAgent.indexOf("Chrome-Lighthouse") === -1 &&
    navigator.userAgent.indexOf("Mozilla/5.0 (Linux; Android 11; moto g power (2022)) AppleWebKit") === -1
) {
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WTHG77C');
}
</script>
<!-- End Google Tag Manager -->