<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <main class="wrapper" role="main">
        <section class="intro" style="width:auto">
            <h1 id="tw1">Flappy Bird TS</h1>
            <p>You can integrate this Flappy Bird game to your project</p>
            <p><a href='https://youtu.be/3HwsIWoDhrU'>YouTube Video</a> | <a href='https://github.com/anag0/flappybird'>Github repository</a> | <a href="https://www.npmjs.com/package/flappybird-ts">npm</a></p>
            <pre>npm i flappybird-ts --save-dev</pre>
            <p><canvas id="game"></canvas></p>
            <p><a href='../'><< Back Home</a></p>
        </section>
    </main>
    <script src="/dist/flappybird.js" async></script>
    <%- include('../parts/footer'); %>
</body>
</html>