<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head'); %>
    <script src="/dist/htmx-serverless.js"></script>
</head>
<body>
    <main class="wrapper" role="main">
        <section class="intro htmx-serverless">
            <h1 id="tw1">HTMX Serverless</h1>
            <p>
                <h3>Click the button to do things</h3>
                <button hx-get="js:duck.getDuck" hx-trigger="click, load" hx-target="next .duckcount" hx-ext="serverless">
                    Click for more 🦆!
                </button>
                <span class="duckcount"></span>
                <p>The button changes via HTMX without server, on the client side. <a href='https://gist.github.com/ernestmarcinko/48b2f7fc81a845b8cfcbd7dac26ac5a3'>Source 🦆 code.</a></p>
                <p><a href='https://github.com/ernestmarcinko/htmx-serverless'>Github repository</a> | <a href="https://www.npmjs.com/package/htmx-serverless">npm</a></p>
            </p>
        </section>
        <section style="max-width: 640px;">
            <h2>HTMX boosted</h2>
            <p>
                HTMX without a server? Yes, it is possible! Although HTMX is designed focusing on server-client connections,
                in some cases it is convenient to define static responses to certain requests.
            </p>
            <p>
                This is what the <a href="https://github.com/ernestmarcinko/htmx-serverless">htmx-serverless</a> library can do.
            </p>
            <p><a href='../'><< Back Home</a></p>
        </section>
    </main>
    
    <%- include('../parts/footer'); %>
</body>
</html>