<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <main class="wrapper" role="main">
        <section class="intro">
            <h1 id="tw1">Native javascript TypeWriter</h1>
            <p>This is a simple, small (~2.3kB) yet powerful TypeWriter effect written in native javascript.</p>
            <p>It can write, delete, clear, pause, can chain and also has events and many more.</p>
            <p><a href='https://github.com/ernestmarcinko/typewriter'>Github repository</a> | <a href="https://youtu.be/SKs-_MSlSsE">YouTube Video</a> | <a href="https://www.npmjs.com/package/@anag0/typewriter">npm</a></p>
            <pre>npm i @anag0/typewriter --save-dev</pre>
        </section>
        <section>
            <h2>Basic Usage</h2>
            <iframe src="https://codesandbox.io/embed/fervent-thompson-dnqp9m?fontsize=14&hidenavigation=1&theme=dark"
                style="width:100%; height:300px; border:0; border-radius: 4px; overflow:hidden;"
                title="typewriter-example-simple-dnqp9m"
                allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
                sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
            ></iframe>

            <h2>Custom cursor and Speed</h2>
            <p>The speed of each operation is randomly chosen between the min/max values defined by the "pauseMin" and "pauseMax" attributes.</p>
            <iframe src="https://codesandbox.io/embed/typewriter-example-speed-cursor-pi7fms?fontsize=14&hidenavigation=1&theme=dark"
                style="width:100%; height:300px; border:0; border-radius: 4px; overflow:hidden;"
                title="typewriter-example-simple-dnqp9m"
                allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
                sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
            ></iframe>

            <h2>TypeWriter Chains</h2>
            <p>You can easily chain up multiple typewriter nodes via the "onFinish" method (attribute).</p>
            <iframe src="https://codesandbox.io/embed/typewriter-example-chain-gmp1m4?fontsize=14&hidenavigation=1&theme=dark"
                style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
                title="typewriter-example-chain"
                allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
                sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
            ></iframe>

            <h2>Real time configuration change</h2>
            <p>Make changes to the configuration via the "config" method if needed.</p>
            <iframe src="https://codesandbox.io/embed/typewriter-example-config-vdxf0c?fontsize=14&hidenavigation=1&theme=dark"
                style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
                title="typewriter-example-config"
                allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
                sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
            ></iframe>

            <p><a href='../'><< Back Home</a></p>
        </section>
    </main>
    
    <%- include('../parts/footer'); %>
</body>
</html>